<p id="notice"><%= notice %></p>

<!DOCTYPE html>

<html>

<h1>Hablas</h1>

<table>
  <thead>
    <tr>
      <th>Dictate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hablas.each do |habla| %>
      <tr>
        <td><%= habla.dictate %></td>
        <td><%= link_to 'Show', habla %></td>
        <td><%= link_to 'Edit', edit_habla_path(habla) %></td>
        <td><%= link_to 'Destroy', habla, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Habla', new_habla_path %>

